{% extends 'project/base.html' %}

{% block content %}

<h1 class="mb-3">Posts by {{ view.kwargs.username }}</h1>
{% for post in post %}

<article class="media content-section">
    <img class= "rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user_posts' post.author.username %}"> {{ post.author }}</a>
            <small class="text-muted"> {{ post.date_published }} </small>
        </div>
        <div>
            <h3> <a class="article-topic" href="{% url 'detail' post.id %}"> {{ post.topic }} </a> </h3>
            <p class="article-content"> {{ post.content }} </p>

        </div>

        
        

    </div>
</article>

{% endfor %}
{% endblock %}